{% load i18n %}



    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo" style="text-align: center;">
          
          <span class="simple-text logo-normal" style=" font-weight: bold;">
            MENU
          </span>

        </div>

        <ul class="nav" style="padding-bottom: 100px;">
          <li class="{% if request.path == '/' %} active {% endif %}">
            <a href="/">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p style=" font-weight: bold;">Dashboard</p>
            </a>
          </li>

        {% for app in app_list %}
        {% for model in app.models %}
          <li class="{% if model.admin_url in request.path %} active {% endif %}">
            <a href="{{ model.admin_url }}">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p style=" font-weight: bold;">{{ model.name }}</p>
            </a>
          </li>
        {% endfor %}
        {% endfor %}

          <li>
            <a href="{% url 'admin:logout' %}">
              <i class="tim-icons icon-button-power"></i>
              <p  style="font-weight: bold;">LOUGOUT</p>
            </a>
          </li>
                    
        </ul>
        
      </div>
    </div>
