{% extends "layouts/base.html" %}
{% load i18n static widget_tweaks %}
{% load admin_urls %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
<style>
	.input-max-width {
		max-width: 341px;
	}
	.hidden {
		display: none;
	}
	.errorlist > li {
		color:  red;
	}
</style>
{% endblock %}
{% block bodyclass %}{{ block.super }} {{ opts.app_label }}-{{ opts.model_name }} change-form{% endblock %}

{% block content %}<div id="content-main">
<form {% if form_url %} action="{{ form_url }}"{% endif %} method="post" id="{{ opts.model_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<input type="text" name="username" value="{{ original.get_username }}" class="hidden">
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1">{% endif %}
{% if form.errors %}
    
    <div class="alert alert-error">
      <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
        <i class="tim-icons icon-simple-remove"></i>
      </button>
      <span>{% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}</span>
    </div>
{% endif %}

<h3>{% blocktranslate with username=original %}Enter a new password for the user <strong>{{ username }}</strong>.{% endblocktranslate %}</h3>

<fieldset class="module aligned">

<div class="form-row" style="display: flex; flex-direction: column;">
  {{ form.password1.errors }}
  <div style="display: flex;">
  {{ form.password1.label_tag }} 
	  <div style="display: flex; flex-direction: column;">
		  {{ form.password1|add_class:"form-control input-max-width" }}
		  {% if form.password1.help_text %}
		  <div class="help" style="margin-left: 0;">{{ form.password1.help_text|safe }}</div>
		  {% endif %}
	  </div>
  </div>
</div>

<div class="form-row" style="display: flex; flex-direction: column;">
  {{ form.password2.errors }}
  <div style="display: flex;">
  {{ form.password2.label_tag }} 
  <div style="display: flex; flex-direction: column;">
  {{ form.password2|add_class:"form-control input-max-width" }}
  {% if form.password2.help_text %}
  <div class="help" style="margin-left: 0;">
  	<ul>
  		<li>{{ form.password2.help_text|safe }}</li>
  	</ul>
  </div>
  {% endif %}
</div>
</div>
</div>

</fieldset>

<div class="card" style="flex-direction: row;padding: 10px;border-radius: 5px;margin-top: 18px; display: flex; justify-content: flex-end; align-items: center;">
<input class="btn btn-info" type="submit" value="{% translate 'Change password' %}" class="default">
</div>

</div>
</form></div>
{% endblock %}
